doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/ace.min.css')
    script(src="/scripts/ace-elements.min.js")
    script(src="/scripts/ace-extra.min.js")
    script(src="/scripts/ace.min.js")
    script(src="/scripts/bootstrap.min.js")
    script(src="/scripts/jquery-ui.custom.min.js")
    script(src="/scripts/jquery.easypiechart.min.js")
    script(src="/scripts/jquery.flot.min.js")
    script(src="/scripts/jquery.flot.pie.min.js")
    script(src="/scripts/jquery.flot.resize.min.js")
    script(src="/scripts/jquery.min.js")
    script(src="/scripts/jquery.sparkline.min.js")
    script(src="/scripts/jquery.ui.touch-punch.min.js")
  body
    block content