// show all businesses by searching result (index page)
   Created by dichenli on 3/30/15.
extends layout
block content
  h1.text-center Search Results
  table.table.table-striped.table-bordered.table-hover
    thead
      tr
        th Business Name
        th Address
        th Average Rating
    //show searching results
    tbody
      each result, index in results
        tr
          td
            a(href='/business?business_id=#{result.business_id}') #{result.name}
          td #{result.address}
          td #{result.avg_stars}

