doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/metisMenu.min.css')
    link(rel='stylesheet', href='/stylesheets/timeline.css')
    link(rel='stylesheet', href='/stylesheets/sb-admin-2.css')
    link(rel='stylesheet', href='/stylesheets/morris.css')
    script(src='https://maps.googleapis.com/maps/api/js?v=3.exp')
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
    script(src="/scripts/bootstrap.min.js")
    script(src="/scripts/metisMenu.min.js")
    script(src="/scripts/raphael-min.js")
    script(src="/scripts/sb-admin-2.js")
    script(src="/scripts/wordcloud2.js")
    script(type="text/javascript", src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1.1','packages':['line', 'corechart']}]}")

  body
    style.
      html, body {
        height: 90%;
        margin: 10px;
        padding: 10px
      }
    nav.navbar.navbar-inverse.navbar-fixed-top.sticky(role='navigation')
      .container
        ul.nav.navbar-nav.nav.pull-right(style="text-align: center;")
          li
            a(href='/homepage') HomePage
          li
            a(href='/users/my_feed') News Feed
          li
            a(href='/logout') Logout
    br
    br
    form.form-horizontal(action='/business/search', method='GET')
      .form-group
        .col-lg-11.col-md-11
          input.form-control(name='search', type='text', placeholder='Search for Business')
        .col-lg-1.col-md-1.form-group(align='right')
          button.btn.btn-info.btn-sm(type='submit') Search
    block content
    hr
    br