doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/metisMenu.min.css')
    link(rel='stylesheet', href='/stylesheets/timeline.css')
    link(rel='stylesheet', href='/stylesheets/sb-admin-2.css')
    link(rel='stylesheet', href='/stylesheets/morris.css')
    script(src="/scripts/bootstrap.min.js")
    script(src="/scripts/jquery.min.js")
    script(src="/scripts/metisMenu.min.js")
    script(src="/scripts/morris-data.js")
    script(src="/scripts/morris.min.js")
    script(src="/scripts/raphael-min.js")
    script(src="/scripts/sb-admin-2.js")
    script(src="/scripts/wordcloud2.js")
  body
    form(action='/business/search', method='GET')
      .form-group
        .row
          .col-md-8
            input#search.form-control(name='search', placeholder='Search for business', type='text')
          .col-md-4
            input(type='submit', value='Search For Businesses')
    block content
