doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/metisMenu.min.css')
    link(rel='stylesheet', href='/stylesheets/timeline.css')
    link(rel='stylesheet', href='/stylesheets/sb-admin-2.css')
    link(rel='stylesheet', href='/stylesheets/morris.css')
    script(src='https://maps.googleapis.com/maps/api/js?v=3.exp')
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
    script(src="/scripts/bootstrap.min.js")
    script(src="/scripts/metisMenu.min.js")
    script(src="/scripts/raphael-min.js")
    script(src="/scripts/sb-admin-2.js")
    script(src="/scripts/wordcloud2.js")
  body
    style.
      html, body {
        height: 90%;
        margin: 10px;
        padding: 10px
      }
    .row
      .col-md-1
        form(action='/homepage', method='GET')
          input(type='submit', value='homepage')
      .col-md-1
        form(action='/users/my_feed', method='GET')
          input(type='submit', value='news feed')
    br
    form(action='/business/search', method='GET')
      .form-group
        .row
          .col-md-8
            input#search.form-control(name='search', placeholder='Search for business', type='text')
          .col-md-4
            input(type='submit', value='Search For Businesses')
    block content
    hr
    br
    br