<form enctype="multipart/form-data" action="/users/new_post" method="POST">
    <div class="form-group">
        <div class="row">
            <div class="col-md-4"><input id="new_post" name="new_post" placeholder="New Post" type="textarea" rows="10"
                                         cols="50" class="form-control"></div>
            <div class="col-md-4">
                <dl class="dropdown">
                    <dt><a href="#"><span class="hida">With Friends</span>

                        <p class="multiSel"></p></a></dt>
                    <dd>
                        <div class="mutliSelect">
                            <ul>
                                <li><input name="friend" type="checkbox" value="2">Anonymous</li>
                                <li><input name="friend" type="checkbox" value="8">Li Dichen</li>
                            </ul>
                        </div>
                    </dd>
                </dl>
            </div>
            <div class="col-md-4"><select name="location">
                <option value="null"></option>
                <option value="--jFTZmywe7StuZ2hEjxyA">Subway</option>
                <option value="--WLj8iK9DUKxkPnMHAoeA">Extended Stay America - Charlotte - Airport</option>
            </select></div>
        </div>
        <div class="row">
            <div class="col-md-4"><input type="submit" value="Post"></div>
        </div>
        <div class="row">
            <div class="col-md-8"><input type="file" name="photo" accept="image/*"></div>
        </div>
    </div>
</form><h1>News Feeds From Friends</h1>